<h1>{{title}}</h1>

{{#if isEditing}}
	<form>
		<div class="form-group">
			<label for="title">Title</label>
			{{input id="title" class="form-control" value=title}}
		</div>

		<div class="form-group">
			<label for="body">Body</label>
			{{textarea id="body" class="form-control" rows="15" value=body}}
		</div>

		<button class="btn btn-primary" {{action 'save'}}>Save</button>
	</form>


{{else}}

	<p>{{body}}</p>

	<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
	<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}


<!-- show all comments linked to this post, relationship created -->
<h2>Comments</h2>

	{{#each comments}}
	<p>{{text}}</p>
	{{/each}}

<!-- linking to the the new nested 'new-comment' route -->
<!-- because it is nested inside we need to provide a value for the dynamic segment by passing 'this'-->
<!-- this refers to the model you currently are on (i.e. comment.js), then we extract the id-->

	<p>{{#link-to 'new-comment' this.id class="btn btn-default"}}New comment{{/link-to}}</p>

	<!-- when clicked, show the new comment box at the bottom of the page -->
	{{outlet}}